header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
menu {
    display: flex;
    padding: 0;
}
menu a {
    width: 10rem;
    text-decoration: none;
    color: black;
}
button {
    width: 2.5rem;
    height: 2.5rem;
}
