header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
menu {
    display: flex;
    align-items: center;
    padding: 0;
}
menu a {
    width: 10rem;
    text-decoration: none;
    color: black;
}

.pokeball{
   margin: 0;
   float: right;
}

@media (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    menu {
        flex-direction: column;
        width: 100%;
    }

    menu a {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    menu {
        flex-direction: column;
        width: 100%;
    }
    menu a {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

}

@media (max-width: 480px) {
    menu {
        flex-direction: column;
        width: 100%;
    }
    menu a {
        width: 100%;
        padding: 8px 0;
        text-align: center;
        font-size: 0.9rem;
    }

    
}