.MainPokemons h2 {
 font-size: 3rem;  
 text-decoration: none; 
}

.MainPokemons h3 {
    display: inline-block;
    padding-right: 1.8rem;
    text-decoration: none;
}

.Types h2 {
    font-size: 2rem;  
    text-decoration: none;
    color:  black; 
}

.Types h3 {
    font-size: 1rem;
    display: inline-block;
    padding-right: 0.8rem;
    text-decoration: none;
}