input {
    width: 100%;
    height: 44px;
    background-color: transparent;
    font-size: 0.8rem;
    border: none;
    text-indent: 10px;
}
input:focus {
    outline: none;
}
form{
    display: flex;
}
.input-wrapper {
    border: 1px solid grey;
    flex: 1;
}
.searchIcon {
    width: 1.2rem;
    padding-right: 20px;
}
@media (max-width: 1024px) {

    form {
        width: 100%;
        margin-top: 10px;
    }

    input {
        font-size: 1rem;
    }

    .searchIcon {
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    form {
        width: 100%;
        margin-top: 10px;
    }

    input {
        font-size: 0.9rem;
    }

    .searchIcon {
        padding-right: 8px;
    }
}

@media (max-width: 480px) {
    form {
        width: 100%;
        margin-top: 8px;
    }

    input {
        font-size: 0.8rem;
    }

    .searchIcon {
        padding-right: 5px;
    }
}