:root {
    --color-normal: #8b8b8b;
    --color-fire: #EE8130;
    --color-water: #6390F0;
    --color-electric: #F7D02C;
    --color-grass: #7AC74C;
    --color-ice: #96D9D6;
    --color-fighting: #91201c;
    --color-poison: #A33EA1;
    --color-ground: #856e36;
    --color-flying: #7077ff;
    --color-psychic: #F95587;
    --color-bug: #A6B91A;
    --color-rock: #5a5332;
    --color-ghost: #735797;
    --color-dragon: #6F35FC;
    --color-dark: #3e2c21;
    --color-steel: #9d9dd9;
    --color-fairy: #D685AD;
}

.normal { background-color: var(--color-normal); }
.fire { background-color: var(--color-fire); }
.water { background-color: var(--color-water); }
.electric { background-color: var(--color-electric); }
.grass { background-color: var(--color-grass); }
.ice { background-color: var(--color-ice); }
.fighting { background-color: var(--color-fighting); }
.poison { background-color: var(--color-poison); }
.ground { background-color: var(--color-ground); }
.flying { background-color: var(--color-flying); }
.psychic { background-color: var(--color-psychic); }
.bug { background-color: var(--color-bug); }
.rock { background-color: var(--color-rock); }
.ghost { background-color: var(--color-ghost); }
.dragon { background-color: var(--color-dragon); }
.dark { background-color: var(--color-dark); }
.steel { background-color: var(--color-steel); }
.fairy { background-color: var(--color-fairy); }

.container {
    width: 90%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
h1{
    font-size: 3rem;
}
.pokemonList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
}

.pokemon {
    background-color: #fce4ec; 
    border: none; 
    padding: 10px;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    position: relative; 
    overflow: hidden; 
}
.pokemon a{
    color: black;
    text-decoration: none;
}

.pokemon:hover {
    background-color: #b5b5b5; 
}

.pokemon img {
    width: 80px; 
    height: auto;
    margin-bottom: 8px; 
}

.pokemon span {
    display: block;
    color: #333; 
    font-size: 14px; 
}

.type-content:hover {
    background-color: #b5b5b5;
}

.Types a {
    border-radius: 10px;
}

.type-content {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
}

